h1 
{
    background-color: black;
    color: red;
}
h2,h3,h4
{
    background-color: brown;
    color: blue
}

p
{
    background-color: lightcyan;
}

ul
{
    background-color: beige;
    color: green;
    font-size: 30px;
}